<app-list-container>

    <app-list-post-item
    postType="image"
    date="Ayer"
    time="02:30 p.m."
    question="Pregunta de una o más líneas, máximo 3 y se recorta el texto"
    [answerCounter]="29"
    relatedAnswer=""
    postRoute=""             
    >                    
    </app-list-post-item>


    <app-list-post-item
    postType="image"
    date="Ayer"
    time="02:30 p.m."
    question="Pregunta de una o más líneas, máximo 3 y se recorta el texto"
    [answerCounter]="29"
    relatedAnswer=""
    postRoute=""  
    [answerNotification]="true"
    >                    
    </app-list-post-item>
</app-list-container>