:host ::ng-deep .p-galleria-indicators li{ 

    width: 0.4rem;
    height: 0.4rem;
    background-color:#fff;
    border-radius: 50%;
    margin-left: 0.36rem;
    margin-right: 0.36rem;

}

:host ::ng-deep .p-galleria-indicators{
    position: relative;
    transform: translateY(-2rem);
}
:host ::ng-deep .p-galleria{
    padding:0.4rem 0;
}