

        <app-item-icon-info
            icon="ask"
            time="2:00 p.m."
            date="Hoy a las"
            title="Pregunta"
            summary="Hola cómo estas, claro ! Si deberías hacer esto, por lo general uno …"
        >

        </app-item-icon-info>
        

        <app-item-icon-info
        icon="share"
        time="2:00 p.m."
        date="Hoy a las"
        title="Se ha compartido"
        summary="Les lorem ipsum dolor sit amet concseteur …"
        >

        </app-item-icon-info>
        
