<app-subtitle-header
    icon="user"
    title="Usuarios Conectados"

>
    <app-sub-header
        title="Todos"
    ></app-sub-header>

</app-subtitle-header>


<app-user-item
    [noIcon]="true"
    userPhoto="/assets/img/profile-photo/user/her.png"
    category="extensionista"
    userName="Mariana Ocampo"
    userStatus="conectado"

>

</app-user-item>

<app-user-item
    [noIcon]="true"
    userPhoto="/assets/img/profile-photo/user/Rectangle.png"
    category="productor"
    userName="Juan M. Villada Mangas"
    userStatus="conectado"

>

</app-user-item>
