<div class="
auth-header-register 
flex
absolute
top-0
left-0
right-0 
justify-between 
w-full">

<!-- Button Back -->
<button class="inline-block py-4 px-4" (click)="goBack('')">
    <app-icon icon="right-arrow" rotate="180deg" color="#C4E5FF" size="1.2rem" class="transform inline-block translate-y-1"></app-icon>
    <span class="inline-block mx-2">Vover</span> 
</button>
<!-- END Button Back -->

<!-- Cancel Button  -->
<button class="inline-block py-4 px-4" (click)="cancelReg('')">
    <span class="inline-block mx-2">
        Cancelar Registro
    </span>
    <app-icon icon="plus" rotate="45deg" color="#C4E5FF"  size="1.2rem" class="transform inline-block translate-y-1"></app-icon>
</button>
<!-- END Cancel Button  -->

</div>
<div class="logo-cont w-full flex justify-center">
