.layout-floating-button{
    background-color: rgba(0, 176, 235, 0.61);
    z-index: 29;
}
.floating-button-container{
    display: inline-block;
    position: fixed;
    bottom: 5em;
    right: 3em;
    z-index: 30;
    width: 56px;
    height: 56px;
}

.buttons{
    position: absolute;
    z-index: 31;
    top:0;
    right:4rem;
}