<app-list-container>

    <app-list-post-item
    postType="video"
    thumbnail="/assets/img/video_thumbnail.png"
    date="Ayer"
    time="02:30 p.m."
    question="Pregunta de una o más líneas, máximo 3 y se recorta el texto"
    [answerCounter]="29"
    postRoute=""
    size="0.8rem"             
    >                    
    </app-list-post-item>
    <app-list-post-item
    postType="audio"
    thumbnail="/assets/img/audio_thumbnail.png"
    date="Ayer"
    time="02:30 p.m."
    question="Pregunta de una o más líneas, máximo 3 y se recorta el texto"
    [answerCounter]="29"
    postRoute=""
    size="0.8rem"
    [answerNotification]="true"
    >                    
    </app-list-post-item>

</app-list-container>