.select-element{
    position: relative;
    z-index: 4;
}

/*prime ng component*/
:host ::ng-deep .ags.p-dropdown{

    background-color: var(--bg-gray);
    font-size: var(--font-size-content);
    font-family: var(--light-font);
    color: var(--text-gray);
    width: 100%;
    padding:1.2rem 1rem 1.2rem 0.7rem;
    border-radius: var(--border-radius) var(--border-radius) 0 0; 
    border-bottom: 1px solid var(--blue_light)

}

::ng-deep .p-dropdown-clear-icon{
    right: 3rem;
    transform: translateY(2px);
    
    
}

::ng-deep .p-dropdown-trigger-icon{
    color:var(--blue_light);
    
}


::ng-deep .p-dropdown-items,
::ng-deep .p-dropdown-panel
{
    width: inherit;
    border-radius: 2rem;
}
::ng-deep .p-dropdown-item {
    font-size: var(--font-size-content);
    font-family: var(--light-font);
    width: 100%;
    background-color: #fff;
    color: var(--text-gray);
    padding:1rem 1rem 1rem 0.7rem;
    border-bottom: 1px solid var(--post-border);

}

::ng-deep .p-dropdown-empty-message{

    font-size: var(--font-size-content);
    font-family: var(--light-font);
    width: 100%;
    color: var(--text-gray);
}

/*DARK THEME*/

::ng-deep .dark .ags.p-dropdown{
    background-color: var(--input-bg) ;
    border-bottom: 1px solid var(--blue_light);
    color: var(--dark-input-font-color);
}

::ng-deep .dark .p-dropdown-trigger-icon{
    color:var(--dark-input-font-color);
    
}
