<div class="recovery-form-container w-80">
    <h2 class="
    w-full 
    text-center
    mb-10
    ">Recuperar contraseña</h2>
    <form action="">

        <app-input
            theme="dark"
            Labelcontent="Escribe el correo registrado o número celular"
            type="text"
            ></app-input>
        <div class="button-layout flex justify-center mt-10">
            <app-button
                type="submit"
            > Recuperar </app-button>

        </div>
        
    </form>
</div>
