<div class="single-form px-10" >
    <h2 class="py-4">Tu respuesta </h2>
    <form action="">
        
        <app-textarea></app-textarea>
        <div class="form-footer flex justify-between py-2 px-2 items-center">
            <div class="media-buttons flex">
                <button class="block p-2">
                    <app-icon icon="mic" color="#2B95D1"></app-icon>
                </button>
                <button class="block p-2">
                    <app-icon icon="camera" color="#2B95D1"></app-icon>
                </button>
                <button class="block p-2">
                    <app-icon icon="image" color="#2B95D1"></app-icon>
                </button>
            </div>
            <div class="buttons flex justify-end">
                <app-button skin="tertiary-btn-compact" type="button" class="mr-2">Cancelar </app-button>
                <app-button skin="tertiary-btn-compact" type="submit" class="ml-2">Publicar </app-button>
    
            </div>
        </div>

    </form>

</div>