.modal-container, .dialog-container{
    position: fixed;
    background-color: rgba(43, 149, 209,0.6);
    z-index:29;

}

.dialog-container{
    z-index: 1000;
}

.modal-content{
    background-color: #fff;
    border-radius: var(--border-radius);
    position: relative;
}

.modal-header{
    position: relative;
}


.modal-header span{
    color:var(--titles-gray);
}
.close-btn{
    position: absolute;
    right: 0;

}

/*DIALOG CLASSES*/

.dialog-body{
    font-family: var(--light-font);
    font-size: var(--font-size-content);
    color:var(--text-gray);
}