<app-preloader [visible]=isLoadding></app-preloader>
<router-outlet></router-outlet>
   <!-- VIEW 1 
      
      <app-v1-main></app-v1-main>
      
   -->
   

   
   <!-- VIEW 2 
      
      <app-v2-login></app-v2-login>
    -->
    
    
    <!-- VIEW 3
      
      <app-v3-sign-up-view></app-v3-sign-up-view>
   
   -->
    
   <!-- VIEW 4 
      <app-v4-profile></app-v4-profile>
    
 -->

 
 <!-- VIEW 5 
   
   <app-v5-profile-configuration></app-v5-profile-configuration>
-->


<!-- VIEW 6 
   
   <app-v6-feed></app-v6-feed>
   
-->

<!-- VIEW 7 
   
   <app-v7-questions-list></app-v7-questions-list>

-->

<!-- VIEW 8
   <app-v8-answers-list></app-v8-answers-list>

-->

<!-- VIEW 9 
   <app-v9-share-list></app-v9-share-list>

-->

<!-- VIEW 10
   <app-v10-single-question></app-v10-single-question>

-->
<!-- VIEW 11 
   
   <app-v11-single-answer></app-v11-single-answer>
-->

<!-- VIEW 12 
   
   <app-v12-profile-view></app-v12-profile-view>
   
-->

<!-- VIEW 13
   
   <app-v13-ranking-view></app-v13-ranking-view>
-->

<!-- VIEW 14 
   
   <app-v14-location-view></app-v14-location-view>
-->

<!-- VIEW 15
   <app-v15-online-view></app-v15-online-view>
-->

<!-- VIEW 16 
   <app-v16-notifications-view></app-v16-notifications-view>

-->

<!-- VIEW 17 
   <app-v17-elements-side-menu></app-v17-elements-side-menu>
-->


<!-- Blank 1
   <app-blank></app-blank>

-->

<!-- Blank 2
   
   <app-blank-init></app-blank-init>

-->