
<app-container bg="bg-blue" (click)="goto('v2')">  
    <div class="home-view 
    flex
    flex-wrap
    justify-center 
    w-full 
    h-full ">
    

    <!-- Main Logo -->
    <app-main-logo class="
        main-logo 
        self-end">
    </app-main-logo>
    <!-- End of Main Logo -->

    <!-- Footer Logos -->
    <div  class="logos 
    flex
    items-center
    justify-center 
    self-end
    h-20
    " >
        
        <figure class="w-32 lg:w-48">
            <img src="../assets/img/logo-agro.png" alt="Logo Agrosavia">
        </figure>

        <figure class="w-32 lg:w-48">
            <img src="../assets/img/logo-min.png" alt="Logo Agrosavia">
        </figure>
    </div>
    <!-- END Footer Logos -->
    </div>
</app-container>