/*Layout HEader*/
header.header{
    box-shadow: 0 0 4px rgba(150,150,150, 0.4);
    position: relative;
    z-index: 10;
    background-color: #fff;
}



header .title {
    color:var(--titles-gray)
}
/*End Layout Header*/