<section class="social-login flex flex-wrap justify-center">
    <p 
        [style.color]="color"
        class="p-4"
        > Incia Sesión / Regístrate con </p>
    <div class="social-login-buttons w-full flex justify-center">
        <a href="#" class="inline-block mx-4">
            <img src="/assets/img/Facebook_btn.svg" alt="Facebook Login">
        </a>

        <a href="#" class="inline-block mx-4">
            <img src="/assets/img/Google_btn.svg" alt="Google Login">
        </a>
    </div>
    
</section>
